[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/entity3d-math"]
	path = deps/entity3d-math
	url = https://github.com/connerdouglass/entity3d-math.git
